* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.maiin {
  display: flex;
  justify-content: center;
  align-items: center ;
}
.main {
  background-color: #D2D1D7;
  border-radius: 30px 100px 100px 30px;
  width: 1215px;
  height: 275px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

}
.input {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  color: grey;
  background-color: white;
  text-align: left;
}
.inp {
  display: flex;
  margin-top: 30px;
}
.svg {
  width: 70px;
  height: 50px;
  border-radius: 15px;
  margin-left: 10px;
  background-color: yellow;
  border: white;
  padding-left: 10px;
}
.span {
  font-size: 28px;
  font-weight: 600;
}
.text {
  margin-left: 40px;
}
.img {
  margin-right: 70px;
}
.svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.conect {
  display: flex;
  justify-content: space-between;
}
.popular {
  margin-bottom: 40px;
}